@import "tailwindcss";

input {
    outline: none;
}

:root {
    --primary: #ebebeb;
    --secondary: #60A5FA;
    --background: #F8FAFC;
    --sidebar: #152270;
    --navbar: #FFFFFF;
    --card: #FFFFFF;
    --text: #111827;
    --border: #E5E7EB;
}

.heading {
    font-size: 20px;
    font-weight: bold;
}

html {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.recharts-wrapper *:focus {
    outline: none !important;
}