@import "tailwindcss";

body {
    overflow-x: hidden;
}

input {
    outline: none;
}

:root {
    --primary: #0F766E;
    --secondary: #D4AF37;
    --background: #F8F8F5;
    --sidebar: #ffffff;
    --navbar: #FFFFFF;
    --navcard: #0A4A43;
    --text: #1B1B1B;
    --navtext: #F9F6EF;
    --border: #D8D8D8;
}

.heading {
    font-size: 20px;
    font-weight: bold;
}

html {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.recharts-wrapper *:focus {
    outline: none !important;
}